# compiled binaries
/*.ex5
/*.ex4

# logs, temporary files
/**/*.log
/**/*.tmp

# Windows thumbnail cache
Thumbs.db

# VSCode workspace settings
.vscode/
Experts/Free Robots/TrendFollowerMA/TrendFollowerMA.ex5
Experts/Free Robots/TrendFollowerMA/TrendFollowerMA.ex5
Profiles/Templates/msedgewebview2.dxvk-cache
Experts/Free Robots/TrendFollowerMA/TrendFollowerMA.ex5
